<div [class]="pageSetup[colorTheme].viewportContainer">
  <div [class]="pageSetup[colorTheme].headerWrapper">
    <h1 [class]="pageSetup[colorTheme].headerText" (click)="changeTheme()">
      {{ title }}
    </h1>
    <div class=""></div>
  </div>

  <div [class]="pageSetup[colorTheme].bodyWrapper">
    <div class="flex flex-row justify-center">
      <!-- Template Variables use # as prefix -->
      <input type="text" (keyup.enter)="myKeyup(userInput.value)" #userInput/>
      
    </div>
    <p class="text-center">{{ keyPressed }}</p>
  </div>
</div>
