<div class="flex flex-col items-center">
  <!-- Fields to add more object array elements -->
  <div class="flex flex-col mb-2">
    <label for="id">id</label>
    <input id="id" type="text" #idOfToy />
    <label for="toy">Toy</label>
    <input id="toy" type="text" #toy />

    <!-- Button to add object array element using template variable values from html input elements -->
    <button
      [class]="btnStylesAdd"
      (click)="addToy({ id: idOfToy.value, data: toy.value })"
    >
      add toy
    </button>
  </div>

  <!-- ng-template is not a traditional html tag.  It will not display/markup data in the page -->

  <!-- import toy array into toyList code block-->
  <div *ngIf="simpleArray.length > 0; then toyList; else outOfStock"></div>

  <ng-template #toyList>
    <ul>
      <li
        *ngFor="let toys of simpleArray; let indx = index"
        class="flex flex-row justify-between mb-2"
      >
        ArrayIndex-{{ indx }} {{ toys | json }}

        <!-- Button to remove array element -->
        <button (click)="killArrayElement(indx)" [class]="btnStylesDlt">
          Delete
        </button>
      </li>
    </ul>
  </ng-template>

  <!-- show if array is empty -->
  <ng-template #outOfStock>
    <p>No toys in stock.</p>
  </ng-template>
</div>
